.headerCart{
    background-color: #00c8c8;
    margin: 0px;
    padding: 0 12px;

    .fa{
        margin: 0 9px 0 0px;
        font-size: 13px;
    }

    .selectOptions{
        background-color: #00c8c8;
        border:none;
        color:white;
    }
}