*{
    margin:0;
    padding:0px;
    box-sizing:border-box;  
}

body{
    background: linear-gradient(163deg,rgb(31, 177, 87), rgb(50, 102, 70));
    background-repeat:no-repeat;
    background-attachment: fixed;
}
