.card-container {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 3px solid #fff;
    border-radius: 5%;
    padding: 10px;
    text-align: left;
  }
  
  .card-container:hover {
    transform: scale(1.25);
  }
  