.headerStyle {
  overflow: hidden;
  padding: 20px 52px;

  .navBar {
    display: flex;
    float: right;
    font-weight: bolder;
    font-size: large;
    line-height: 28px;
    margin: 4% 1%;
    justify-content: space-evenly;
    width: 45%;

    div {
      border: 1px solid gray;
      padding: 2px 10px;
    }

    div:hover {
      cursor: pointer;
      background-color: #95dada;
    }
  }
  img {
    float: left;
    max-width: 12%;
    border-radius: 50%;
  }
}
