.cardContainer {
  display: flex;
  flex-direction: column;
  background-color: #b5c2c7;
  border: 3px solid #455954;
  border-radius: 5%;
  padding: 10px;
  text-align: left;
  position: relative;
  line-height: 22px;

  .deleteButton {
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    font-size: 58px;
    color: red;
    cursor: pointer;
  }

  .upDateData {
    position: absolute;
    top: 25%;
    left: 55%;
    display: none;
    font-size: 58px;
    color: red;
    cursor: pointer;
  }

  h3 {
    text-align: center;
  }
}

.cardDelete {
  display: none;
}

.cardContainer:hover {
  transform: scale(1.15);
  background-color: #565c5e;
  overflow: hidden;
  .deleteButton {
    display: inline-flex;
  }
  .upDateData {
    display: flex;
  }
}
